env:
  node:                          true
  commonjs:                      true
  es2021:                        true

extends:                         eslint:recommended

rules:
  strict:                        off
  no-undef:                      off
  quotes:                        off
  no-console:                    off

  no-magic-numbers:              warn
  no-unused-vars:                warn
  no-implicit-globals:           warn


  block-scoped-var:              warn
  no-shadow:                     warn
  dot-notation:                  warn
  no-else-return:                warn
  no-empty-pattern:              warn
  no-extra-bind:                 warn
  no-implicit-coercion:          warn
  no-use-before-define:          warn
  no-floating-decimal:           warn
  no-invalid-this:               warn
  no-var:                        warn
  prefer-spread:                 warn
  no-labels:                     warn
  no-lone-blocks:                warn
  no-multi-str:                  warn
  no-self-assign:                warn
  no-self-compare:               warn
  no-sequences:                  warn
  no-unused-expressions:         warn
  no-useless-call:               warn
  no-useless-concat:             warn
  no-useless-escape:             warn
  no-useless-return:             warn
  no-void:                       warn
  no-with:                       warn
  no-throw-literal:              warn
  vars-on-top:                   warn
  wrap-iife:                     warn
  yoda:                          warn
  init-declarations:             warn
  no-shadow-restricted-names:    warn
  no-undef-init:                 warn
  callback-return:               warn
  global-require:                warn
  handle-callback-err:           warn
  no-mixed-requires:             warn
  no-path-concat:                warn
  no-sync:                       warn
  array-bracket-spacing:         warn
  block-spacing:                 warn
  brace-style:                   warn
  func-name-matching:            warn
  func-names:                    warn
  keyword-spacing:               warn
  line-comment-position:         warn
  lines-around-directive:        warn
  max-lines:                     warn
  no-inline-comments:            warn
  no-continue:                   warn
  no-bitwise:                    warn
  newline-per-chained-call:      warn
  new-parens:                    warn
  newline-after-var:             warn
  no-array-constructor:          warn
  no-lonely-if:                  warn
  no-mixed-operators:            warn
  no-multi-assign:               warn
  no-multiple-empty-lines:       warn
  no-negated-condition:          warn
  no-nested-ternary:             warn
  no-tabs:                       warn
  no-unneeded-ternary:           warn
  no-trailing-spaces:            warn
  no-whitespace-before-property: warn
  space-before-blocks:           warn
  space-before-function-paren:   warn
  space-infix-ops:               warn
  space-unary-ops:               warn
  arrow-body-style:              warn
  arrow-spacing:                 warn
  no-useless-computed-key:       warn
  no-useless-rename:             warn
  object-shorthand:              warn
  prefer-arrow-callback:         warn
  prefer-destructuring:          warn
  prefer-template:               warn
  template-curly-spacing:        warn
  object-curly-spacing:          warn

  rest-spread-spacing:
    - warn
    - never
  arrow-parens:
    - warn
    - as-needed
  space-in-parens:
    - warn
    - never
  padded-blocks:
    - warn
    - never
  operator-linebreak:
    - warn
    - before
  one-var:
    - warn
    - never
  max-params:
    - warn
    - 3
  max-depth:
    - warn
    - 2
  max-statements:
    - warn
    - 5
  max-nested-callbacks:
    - warn
    - 2
  key-spacing:
    - warn
    - align: value
  func-style:
    - warn
    - declaration
    - allowArrowFunctions: true
  consistent-this:
    - warn
    - do-not-use-that
  comma-spacing:
    - warn
    - before: false
      after: true
  comma-style:
    - warn
    - last
  comma-dangle:
    - warn
    - always-multiline
  no-multi-spaces:
    - warn
    - exceptions:
        VariableDeclarator: true
  no-cond-assign:
    - warn
    - always
  no-extra-parens:
    - warn
    - all
  indent:
    - warn
    - 2
  camelcase:
    - warn
    - properties: always
  complexity:
    - warn
    - 3
  linebreak-style:
    - warn
    - unix
  dot-location:
    - warn
    - property
  curly:
    - warn
    - multi-or-nest
  semi:
    - warn
    - never
  quote-props:
    - warn
    - as-needed
